body {
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #4a4a4a;
}

div {
    margin-bottom: 15px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5a49d1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

td {
    text-align: right;
}
